[submodule "src/main/java/trclib"]
	path = src/main/java/trclib
	url = https://github.com/trc492/trclib
[submodule "src/main/java/frclib"]
	path = src/main/java/frclib
	url = https://github.com/trc492/frclib
